@using Blog.Models
@model Post
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<!-- Page header -->
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    @ViewData["Title"]
                </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <span class="d-none d-sm-inline">
                        <a href="/posts" class="btn">
                            Back
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page body -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-sm-12 col-lg-6">
                <div class="card card-sm">
                    <a href="#" class="d-block"><img src="@Model.Image" class="card-img-top"></a>
                    <div class="card-body">
                        <a href="#" class="card-title mb-1 ">@Model.Title</a>
                        <p class="">@Model.Content</p>
                        <div class="d-flex align-items-center">
                            <span class="avatar me-3 rounded"
                                style="background-image: url(@Model.CreatedBy.Avatar)"></span>
                            <div>
                                <div>@Model.CreatedBy.Name</div>
                                <div class="text-muted">@Model.CreatedAt</div>
                            </div>
                            <div class="ms-auto">
                                <a href="#" class="text-muted">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                        <path
                                            d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                                    </svg>
                                    383
                                </a>
                                <a href="#" class="ms-3 text-muted">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled text-red" width="24"
                                        height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                        fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                        <path
                                            d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                    </svg>
                                    37
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="row row-cards">

                    <h3 class="mb-2">Comments</h3>
                    <form action="/comments/@Model.Id" method="post" class="row align-items-center">
                        <div class="col">
                            <textarea name="Message"  class="form-control" data-bs-toggle="autosize" placeholder="Type something…"
                                spellcheck="false"
                                style="overflow: hidden; overflow-wrap: break-word; resize: none; text-align: start; height: 59.6px;"></textarea>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                Send
                            </button>
                        </div>
                    </form>

                    <div class="space-y">
                        @foreach(var comment in Model.Comments){
<div class="card">
                            <div class="row g-0">
                                <div class="col-auto">
                                    <div class="pt-3 pb-1 px-3">
                                        <div class="avatar "
                                            style="background-image: url(@comment.CreatedBy.Avatar)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card-body ps-0">
                                        <div class="row">
                                            <div class="col-8">
                                                <h4 class="mb-0">@comment.CreatedBy.Name</h4>
                                            </div>
                                            <div class="col-4">
                                                <p class="mb-0 text-muted text-end ">@comment.CreatedAt</p>
                                            </div>
                                        </div>
                                        <p class="mb-0 text-muted ">@comment.CreatedBy.Email</p>
                                    </div>
                                </div>

                            </div>
                            <div class="row px-3">
                                <p class="text-muted ">@comment.Message</p>
                            </div>
                        </div>
                        }
                        
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>